# DIABETES PREDICTION

In [47]:
import numpy as np
import pandas as pd

## IMPORTING DATASET

In [48]:
dataset = pd.read_csv("/content/Diabities-210331-154610.csv")
dataset.head(10)

   Unnamed: 0  Pregnancies  Glucose  ...  DiabetesPedigreeFunction   Age  Outcome
0         NaN          6.0    148.0  ...                     0.627  50.0      1.0
1         NaN          1.0     85.0  ...                     0.351  31.0      0.0
2         NaN          8.0    183.0  ...                     0.672  32.0      1.0
3         NaN          1.0     89.0  ...                     0.167  21.0      0.0
4         NaN          0.0    137.0  ...                     2.288  33.0      1.0
5         NaN          5.0    116.0  ...                     0.201  30.0      0.0
6         NaN          3.0     78.0  ...                     0.248  26.0      1.0
7         NaN         10.0    115.0  ...                     0.134  29.0      0.0
8         NaN          2.0    197.0  ...                     0.158  53.0      1.0
9         NaN          8.0    125.0  ...                     0.232  54.0      1.0

[10 rows x 10 columns]

## analyzing dataset

In [49]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [50]:
dataset.isnull().sum()

Unnamed: 0                  769
Pregnancies                   1
Glucose                       1
blood pressure                1
skin thickness                1
Insulin                       1
BMI                           1
DiabetesPedigreeFunction      1
Age                           1
Outcome                       1
dtype: int64

In [51]:
dataset.isnull()

     Unnamed: 0  Pregnancies  Glucose  ...  DiabetesPedigreeFunction    Age  Outcome
0          True        False    False  ...                     False  False    False
1          True        False    False  ...                     False  False    False
2          True        False    False  ...                     False  False    False
3          True        False    False  ...                     False  False    False
4          True        False    False  ...                     False  False    False
..          ...          ...      ...  ...                       ...    ...      ...
764        True        False    False  ...                     False  False    False
765        True        False    False  ...                     False  False    False
766        True        False    False  ...                     False  False    False
767        True        False    False  ...                     False  False    False
768        True         True     True  ...                      True   True     True

[769 rows x 10 columns]

In [52]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

## splitting data

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 25,random_state = 0)

## applying classifiers AND evaluation
### RANDOM FOREST

In [54]:
dataset.replace([np.inf, -np.inf], np.nan, inplace=True)
X_train.fillna(0, inplace=True)
y_train.fillna(0, inplace=True)
X_test.fillna(0, inplace=True)
y_train.fillna(0, inplace=True)

In [55]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 6, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

In [56]:
from sklearn.metrics import accuracy_score
acc_logreg2 = round(accuracy_score(y_pred, y_test) , 2)*100
print("Accuracy : ",acc_logreg2)

Accuracy :  76.0

### LOGISTIC REGRESSION

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,r2_score,classification_report
logreg = LogisticRegression(solver='lbfgs',max_iter=1000)
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
acc_logreg1 = round(accuracy_score(y_pred, y_test) , 2)*100
print("Accuracy : ",acc_logreg1)

Accuracy :  84.0

### K NEIGHBOR CLASSIFIER

In [58]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
acc_knn = round(accuracy_score(y_pred,y_test), 2) * 100
print("Accuracy :" ,acc_knn)

Accuracy : 88.0